spring.application.name=task.management

spring.datasource.url=jdbc:mysql://localhost:3306/tasktrakr
spring.datasource.username=root
spring.datasource.password=YOUR_DB_PASSWORD

# JPA / Hibernate
spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true

spring.sql.init.schema-locations=file:../database/schema.sql
spring.sql.init.mode=always
spring.jpa.defer-datasource-initialization=true
